body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8CA1C2;
    box-sizing: border-box;
}

.weather-widget {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 5vmin #8CA1C2 solid;
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5vmin;
}

#weatherIcon {
    font-size: 20vmin; /* Adjust icon size */
}

#temperature {
    font-size: 15vmin;
    font-weight: bold;
}

#cityName {
    font-size: 7vmin;
}
