* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*border: 1px red solid;*/
}

::selection {
    background: rgba(139, 168, 168, 0.5);
}

body {
    background-color: rgb(139, 168, 168);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #e7ceb3;
}

.title {
    margin-top: 150px;
    background: black;
}

h1 {
    color: #e7ceb3;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: .25em;
    text-align: center;
}

.ducky {
    position: absolute;
    margin: 0 0 0 calc((100% - 500px) * 0.5);
}

h2 {
    font-weight: 100;
    letter-spacing: .1em;
}

#link-content {
    width: 50%;
    margin-top: 5%;
    border-collapse: collapse;
    align-content: center;
}
#link-content tr {
    vertical-align: top;
}
#link-content td, th {
    width: 33.33333333333333333333333333%;
    padding: .5em 1em;
}
#link-content th {
    text-align: left;
    font-weight: normal;
    letter-spacing: .15em;
    font-style: italic;
    color: #e7ceb3;
}
#link-content th::after {
    display:block;
    content: '';
    width: 12%;
    height: 2px;
    background: #51594C;
    position: absolute;
    margin-top: .5em;
    margin-left: 1%;
}

#link-content td {
    padding-top: 1em;
    padding-left: 2em;
    text-overflow: clip;
}

#link-content a {
    color: #d06e57;
    text-decoration: none;
    line-height: 2em;
    transition: all ease .3s;
}
#link-content a:hover{ 
    letter-spacing: .1em;
}

td:last-of-type {
    padding: 0 !important;
}
.other {
    display: block;
    max-height: 185px !important;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1em 2em;
}
.other::-webkit-scrollbar-button {
    display: none;
}