* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    //border: 1px red solid;
}

::selection {
    background: rgba(235, 175, 153, .5);
}

body {
    background-color: rgb(238, 238, 238);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgb(82, 82, 82);
}

h1 {
    color: rgb(235, 175, 153);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: .25em;
    text-align: center;
    margin-top: 150px;
}
h2 {
    font-weight: 100;
    letter-spacing: .1em;
}

#link-content {
    width: 50%;
    margin-top: 5%;
    border-collapse: collapse;
    align-content: center;
}
#link-content tr {
    vertical-align: top;
}
#link-content td, th {
    width: 33.33333333333333333333333333%;
    padding: .5em 1em;
}
#link-content th {
    text-align: left;
    font-weight: 600;
    letter-spacing: .15em;
}
#link-content th::after {
    display:block;
    content: '';
    width: 12%;
    height: 2px;
    background: rgb(90, 122, 164);
    position: absolute;
    margin-top: .5em;
    margin-left: 1%;
}

#link-content td {
    padding-top: 1em;
    padding-left: 2em;
    text-overflow: clip;
}

#link-content a {
    color: rgb(209, 109, 109);
    text-decoration: none;
    line-height: 2em;
    transition: all ease .3s;
}
#link-content a:hover{ 
    letter-spacing: .1em;
}

.search {
    margin-top: 100px;
}
.search input[type=text]{
    width: 500px;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .1em;
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(250, 250, 250);
}
td:last-of-type {
    padding: 0 !important;
}
.other {
    display: block;
    max-height: 185px !important;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1em 2em;
}
.other::-webkit-scrollbar-button {
    display: none;
}