* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: max-content;
  height: 100vh;
  background: white;
  border-radius: 5vh;
  border: .5vh solid #cfd6e4;
  overflow: hidden;
  font-family: sans-serif;
}

.header {
  background: #ffcf88;
  height: 25%;
  color: white;
  padding: 0 2vh;
}

.month {
  font-weight: bold;
  font-size: 8vh;
  text-align: center;
  padding: 2vh 0;
}

.days {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 5vh;
  display: inline-block;
  width: 13vh;
  text-align: center;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: stretch;
  align-items: stretch;
  height: 75%;
  padding: 0 2vh;
}
.date {
  background: white;
  color: black;
  align-content: center;
  text-align: center;
  font-size: 5vh;
  border-radius: 100%;
  cursor: default;
}
.date:hover {
  background: #dadada;
}

.inactive {
  color: grey;
}

.current-day {
  background: #ffcf88;
}
